.auth_page{
    height: calc(100vh - 70px);
    width: 100vw;
    background: linear-gradient(-30deg, #b34800 1%, #FFBB33 40%);
    display: flex;

}

.auth_left{
    object-fit: cover;
    height: 100%;
    width: 30vw;
}
.auth_right{
    display: flex;
    width: 70vw;
    align-items: center;
    justify-content: center;
}

.auth_form{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    font: 24px 'Roboto', sans-serif;
}

.auth_input{
    font: 400 24px 'Roboto', sans-serif;
    height: 60px;
    color: #888;
    border:#FFF 1px solid;
    box-shadow: 1px 2px 4px 0 #aaaaaa;
    border-radius:15px;
    padding: 0 15px 0 15px;
    margin-top: 30px;
}
.auth_input::placeholder{
    font: 400 24px 'Roboto', sans-serif;
    color:#AAAAAA;
}

.auth_input:focus{
    outline: none;
    border: #ff8b33 1px solid;
}
.buttons_container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    height: 100%;
}

.auth_button{
    font: 400 24px 'Roboto', sans-serif;
    height: 60px;
    border:none;
    border-radius:15px;
    padding: 0 15px 0 15px;
    color: #FFF;
    transition: all 0.3s ease;
}

#login_btn{
    background-color: #3377FF;
    flex-grow: 3;
    margin-right: 10px;
}
#reg_btn{
    flex-grow: 1;
    background-color: #AAAAAA;
}
#login_btn:hover{
    background-color: #2b58ff;
}
#login_btn:focus{
    background-color: #2b58ff;
}
#reg_btn:hover{
    background-color: #929292;
}
#reg_btn:focus{
    background-color: #929292;
}

#registration_btn{
    width: 100%;
    margin-top: 30px;
    background-color: #3377FF;
}
#registration_btn:hover{
    background-color: #2b58ff;
}
#registration_btn:focus{
    background-color: #2b58ff;
}