.base_form{
    display: flex;
    text-align: center;
    flex-direction: column;
    min-width: 500px;
    font: 24px 'Roboto', sans-serif;
}

.base_input{
    font: 400 24px 'Roboto', sans-serif;
    height: 60px;
    color: #888;
    border:#FFF 1px solid;
    box-shadow: 1px 2px 4px 0 #aaaaaa;
    border-radius:15px;
    padding: 0 15px 0 15px;
    margin: 10px 0 10px;
}
.base_input::placeholder{
    font: 400 24px 'Roboto', sans-serif;
    color:#AAAAAA;
}
.base_input:focus{
    outline: none;
    border: #ff8b33 1px solid;
}
.input_label{
    font: 400 24px 'Roboto', sans-serif;
    color:#888;
}

.base_button{
    margin: 30px 0 10px;
    font: 400 24px 'Roboto', sans-serif;
    height: 60px;
    border:none;
    border-radius:15px;
    padding: 0 15px 0 15px;
    color: #FFF;
    transition: all 0.3s ease;
    background-color: #3377FF;
}
.base_button:hover{
    background-color: #2b58ff;
}
.base_button:hover{
    background-color: #2b58ff;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
input[type="radio"]{
    display: none;
}
.radio_label{
    display: flex;
    align-items: center;
    justify-content: center;
    font: 400 24px 'Roboto', sans-serif;
    height: 60px;
    border:none;
    border-radius:15px;
    color: black;
    transition: all 0.3s ease;
    background-color: #FFF;
    justify-items: center;
    width: 48%;
    margin: 5px;
    box-shadow: 1px 2px 4px 0 #aaaaaa;
}
.radio_label:hover{
    background-color: #ffc05e;
}

input:checked + label{
    background-color: #FFBB33;
}
.blocked{
    font-size: 32px;
    background-color: #FFBB33;
    color: black;
    text-align: center;
    box-shadow: 1px 2px 4px 0 #aaaaaa;
    border: none;

}
.blocked:hover{
    cursor: default;
    border: none;
}
.blocked:focus{
    cursor: default;
    border: none;
}
.paired{
    width: 48%;
}
.small{
    margin: 10px auto;
}


