.profile_page{
    display: flex;
    flex-direction: row;
}

.left_nav{
    background-color: var(--main_theme_color);
    height: calc(100vh - 70px);
    width: 20vw;
    border-top: #000 1px solid;
    margin: 0;
    flex-direction: column;
    padding: 20px;
}
.ul_{
    list-style: none;
    font-size: 24px;
}
.ul_ li{
    margin: 15px;
    transition: all 0.1s ease;
}
.ul_ li:hover{
    color: #2b58ff;
    font-weight: bold;
}
.right_container{
    height: calc(100vh - 70px);
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;

}