.search_panel{
    position: relative;
    width: 700px;
    height: 40px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom:35px ;
}

#search_bar{
    min-width: 500px;
}

.filtration_btn{
    padding: 15px 10px;
    position: relative;
    min-width: 140px;
    height: 40px;
    box-shadow: 1px 2px 4px 0 #aaaaaa;
    border-radius:15px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    
}

.filtration_btn span{
    font: 400 24px 'Roboto', sans-serif;
    color:#AAAAAA;
}

.filtration_btn img{
    margin-left: 10px;
    height: 27px;
    width:25px;
}


#search_btn {
    position: absolute;
    right: 8px;
    top: 8px;
    height: 23px;
    width: 23px;
}

#search_btn img{
    height: inherit;
    width: inherit;
    cursor: pointer;
}


#search_bar{
    font: 400 24px 'Roboto', sans-serif;
    color: #888;
    border:#FFF 1px solid;
    box-shadow: 1px 2px 4px 0 #aaaaaa;
    border-radius:15px;
    padding-left: 15px;
}

#search_bar:focus{
    outline: none;
}

#search_bar::placeholder{
    font: 400 24px 'Roboto', sans-serif;
    color:#AAAAAA;
}