.close_btn{
    position: absolute;
    right: 12px;
    top: 7px;
    width: 25px;
    height: 25px;
    color:black;
    transition: 0.4s;

}

.close_btn:hover{
    color: red;
    cursor: pointer;
}