.item_wrapper{
    height: 280px;
    width: 225px;
    border-radius: 10px;
    margin: 20px;
    position: relative;
    background-size: cover;
    cursor:pointer;
}

.info_wrapper{
    box-sizing: border-box;
    position: absolute;
    display: flex;
    padding: 15px 15px;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 62px;
    border-radius: 10px;
    color: white;
    transition:all 0.5s ease;
    user-select: none;
    text-align: center;

    /*Эти стили реально нужны?*/
    align-items: center;
    justify-content: center;


}

.recipe_name{
    font: 700 24px 'Roboto', sans-serif;
    width: 95%;
    text-align: center;
    height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.item_wrapper:hover .recipe_name{
    overflow: visible;
    height: auto;
    white-space: normal;
}

.item_wrapper:hover .info_wrapper{
    font: 400 20px 'Roboto', sans-serif;
    height: 75%;
    flex-direction: column;
    justify-content: space-between;

    /*Я не эксперт но кажись это дублируется*/
    transition:all 0.5s ease;
}

.ingredients_count, .time_calories_count{
    display: none;
}

.item_wrapper:hover .ingredients_count, .item_wrapper:hover .time_calories_count {
    display: block;
}




