.modal{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 90;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}
.modal.active{
    opacity: 1;
    pointer-events: all;
}

.modal .content{
    padding: 3%;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
    margin: 90px auto;
    background-color: #fff;
    border-radius: 20px;
    transform: scale(0.5);
    transition: 0.4s all;
}

.modal .content.active{
    transform: scale(1);
}
