@import url('https://fonts.googleapis.com/css?family=Patua+One:400');

header{
    display:flex;
    position: fixed;
    z-index: 100;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background-color: var(--main_theme_color);
    align-items: center;
    font-family: 'Patua One', cursive;
    font-size: 24px;
    
    
}

nav{
    display: flex;
    margin-left: 20px;
}
.nav_menu_wrapper{
    display: flex;
    align-items:center;
}
.nav_menu{
    display: flex;
    margin-left: 35px;
}

.nav_menu_item{
    display: block;
    width: 150px;
    height: 100%;
    text-align: center;
}

.nav_menu_item a{
    text-decoration: none;
    color: black;
}

.profile_panel{
    margin-right: 15px;
}

.profile_panel img{
    border-radius: 50%;    
}

.username{
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: #3377FF 2px solid;
    background-color: var(--main_theme_color);
    overflow: hidden;
    align-items: center;
    color: #3377FF;
    justify-content: center;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: black;
}

