.filtration_window{
    transition: all 0.5s;
    background-color:rgba(255, 255, 255, 0.9);
    position: absolute;
    border: 1px solid #9A9A9A;
    border-radius: 15px;
    left: 0;
    top:50px;
    z-index: 2;
    font:400 24px 'Roboto', sans-serif;
    padding: 25px;
}

.checkbox_wrapper{
    display: inline-flex;
    justify-content: space-between;
    margin-top: 12px;
   
}

.close_btn{
    position: absolute;
    right: 5px;
    top: 0;
}

.pref_selector{
    /*
    хоть убей, не понял зачем это, тем более что есть негативный эффект
    лишняя пустая линия в начале фильтра
    крч я заменю на свой любимый <br>
     margin: 20px 0;
     */
}