

.checkbox{
    appearance: none;
    position: absolute;
    
}

.filtration_switch{
    height: 28px;
    background-color: white;
    border-radius: 15px;
    padding: 5px 10px;
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font: 300 14px 'Roboto', sans-serif;
    transition: all 0.3s;
    box-shadow: 1px 2px 4px 0 #aaaaaa;
}

.checkbox:checked + .filtration_switch{

    background-color:var(--main_theme_color);
}


.checkbox_body:not(:first-child){
    margin-left:10px ;
} 