@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Patua+One:400');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif;
    box-sizing: border-box;
  }
  
:root{
    --main_theme_color:#FFBB33;
}

.app_wrapper{
    width: 100%;
    height: 100%;
}


button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
